# Virtual Tour with Multi-Resolution Panos
# Skin with Scrolling-Thumbnails, Bingmaps, Gyroscope, VR-Support
# Documentation: https://krpano.com/docu/tools/config/
# krpano 1.20


# basic settings
include basicsettings.config
panotype=flat
makescenes=true


# output
flash=false
html5=true


# convert spherical/cylindrical to cubical
converttocube=false


# multiresolution settings
multires=true
tilesize=512
levels=auto
levelstep=2
maxsize=auto
maxcubesize=auto


# output images path
tilepath=%INPUTPATH%/gallery/images/%BASENAME%.tiles/[c/]l%Al/%Av/l%Al[_c]_%Av_%Ah.jpg


# preview pano settings
preview=true
graypreview=false
previewsmooth=25
previewpath=%INPUTPATH%/gallery/images/%BASENAME%.tiles/preview.jpg


# generate thumbnails
makethumb=true
thumbsize=240
thumbpath=%INPUTPATH%/gallery/images/%BASENAME%.tiles/thumb.jpg


# xml output
xml=true
xmlpath=%INPUTPATH%/gallery/gallery.xml


# html output/template
html=true
htmlpath=%INPUTPATH%/gallery/gallery.html
htmltemplate_html5=auto


# skin / xml template
include gallery-vtourskin120.skin


# include testing servers
htmltemplate_additional_file=html/tour_testingserver.exe
htmltemplate_additional_file=html/tour_testingserver_macos+x
