# Virtual Tour with Multi-Resolution Panos
# Skin with Scrolling-Thumbnails, Bingmaps, Gyroscope, VR-Support
# Documentation: https://krpano.com/docu/tools/config/
# krpano 1.20


# basic settings
include basicsettings.config
panotype=autodetect
hfov=360


# output
flash=false
html5=true


# convert spherical/cylindrical to cubical
converttocube=true
converttocubelimit=360x120
converttocubemaxwidth=60000


# multiresolution settings
multires=false
maxsize=8000
maxcubesize=2048


# output images path
tilepath=%INPUTPATH%/%BASENAME%/%BASENAME%.tiles/pano[_c].jpg


# preview pano settings
preview=true
graypreview=false
previewsmooth=25
previewpath=%INPUTPATH%/%BASENAME%/%BASENAME%.tiles/preview.jpg


# generate thumbnails
makethumb=true
thumbsize=240
thumbpath=%INPUTPATH%/gallery/images/%BASENAME%.tiles/thumb.jpg


# xml output
xml=true
xmlpath=%INPUTPATH%/%BASENAME%/pano.xml


# html output/template
html=true
htmlpath=%INPUTPATH%/%BASENAME%/index.html
htmltemplate=html/embedpano_auto_rotate.html


# skin / xml template
include autorotatebg.skin


# include testing servers
htmltemplate_additional_file=html/tour_testingserver.exe
htmltemplate_additional_file=html/tour_testingserver_macos+x
